* {
    margin: 0; /* Прибирає відступи з усіх елементів */
    padding: 0; /* Прибирає поля з усіх елементів */
}

html,
body {
    overflow: hidden; /* Запобігає прокрутці сторінки */
}

#canvas {
    position: absolute; /* Встановлює абсолютне позиціонування для canvas */
    background: #000; /* Встановлює чорний фон для canvas */
    width: 100%; /* Задає ширину canvas 100% */
    height: 100%; /* Задає висоту canvas 100% */
    top: 0; /* Вирівнює canvas по верхній частині */
    left: 0; /* Вирівнює canvas по лівій частині */
}

.overlay {
    position: absolute; /* Встановлює абсолютне позиціонування для overlay */
    top: 0; /* Вирівнює overlay по верхній частині */
    left: 0; /* Вирівнює overlay по лівій частині */
    width: 100%; /* Задає ширину overlay 100% */
    height: 100%; /* Задає висоту overlay 100% */
    background: rgba(0, 0, 0, 0.7); /* Встановлює напівпрозорий чорний фон для overlay */
    display: flex; /* Використовує flexbox для вирівнювання елементів всередині overlay */
    justify-content: center; /* Центрує елементи по горизонталі */
    align-items: center; /* Центрує елементи по вертикалі */
    z-index: 1; /* Встановлює порядок накладення для overlay */
    flex-direction: column; /* Встановлює вертикальне вирівнювання елементів всередині overlay */
}

.overlay h1 {
    color: #ffcc00; /* Встановлює жовтий колір для заголовка */
    font-size: 80px; /* Встановлює розмір шрифту для заголовка */
    text-shadow: 
        -1px -1px 0 white,  /* Додає тінь до заголовка зліва та зверху */
        1px -1px 0 white,   /* Додає тінь до заголовка справа та зверху */
        -1px 1px 0 white,   /* Додає тінь до заголовка зліва та знизу */
        3px 3px 0 white;    /* Додає тінь до заголовка праворуч та знизу */
    font-family: 'Pixelify Sans', cursive; /* Встановлює шрифт для заголовка */
    margin-bottom: 0; /* Прибирає нижній відступ для заголовка */
    position: relative; /* Встановлює відносне позиціонування для заголовка */
    display: inline-block; /* Встановлює заголовок як інлайн-блок */
    transform: translateY(-10px); /* Зсуває заголовок на 10 пікселів вгору */
}

.button-container {
    display: grid; /* Використовує CSS Grid для розміщення кнопок */
    grid-template-columns: repeat(4, 1fr); /* Встановлює 4 стовпці однакової ширини */
    gap: 15px; /* Додає відстань між кнопками */
}

.pixel-button {
    background-color: #BA0021; /* Встановлює блакитний фон для кнопки */
    color: #fff; /* Встановлює білий колір тексту кнопки */
    border: 2px solid #fff; /* Додає білу рамку до кнопки */
    border-radius: 5px; /* Закруглює кути кнопки */
    font-family: 'Pixelify Sans', cursive; /* Встановлює шрифт для кнопки */
    font-size: 24px; /* Встановлює розмір шрифту для тексту кнопки */
    width: 100px; /* Встановлює ширину кнопки */
    height: 100px; /* Встановлює висоту кнопки */
    cursor: pointer; /* Змінює вигляд курсора на вказівник при наведенні */
    transition: background-color 0.3s, color 0.3s; /* Додає анімацію до зміни кольору фону та тексту */
    display: flex; /* Використовує flexbox для вирівнювання тексту всередині кнопки */
    justify-content: center; /* Центрує текст по горизонталі всередині кнопки */
    align-items: center; /* Центрує текст по вертикалі всередині кнопки */
    text-decoration: none; /* Прибирає підкреслення з тексту кнопки */
}

.pixel-button:hover {
    background-color: #ED2939; /* Темніший блакитний колір фону при наведенні */
    color: #fff; /* Білий колір тексту кнопки при наведенні */
}

/* Стилі для кнопки "Назад" */
.back-button {
    background-color: #FEBE10; /* Встановлює зелений фон для кнопки "Назад" */
    color: #fff; /* Встановлює білий колір тексту кнопки "Назад" */
    border: 2px solid #fff; /* Додає білу рамку до кнопки "Назад" */
    border-radius: 5px; /* Закруглює кути кнопки "Назад" */
    font-family: 'Pixelify Sans', cursive; /* Встановлює шрифт для кнопки "Назад" */
    font-size: 16px; /* Встановлює розмір шрифту для тексту кнопки "Назад" */
    padding: 10px 20px; /* Додає внутрішні відступи до кнопки "Назад" */
    cursor: pointer; /* Змінює вигляд курсора на вказівник при наведенні */
    transition: background-color 0.3s, color 0.3s; /* Додає анімацію до зміни кольору фону та тексту кнопки "Назад" */
    position: relative; /* Встановлює відносне позиціонування для кнопки "Назад" */
    transform: translateY(-10px); /* Зсуває кнопку "Назад" на 10 пікселів вгору */
    margin-left: 20px; /* Додає лівий відступ до кнопки "Назад" */
    z-index: 2; /* Встановлює порядок накладення для кнопки "Назад" */
    text-decoration: none; /* Прибирає підкреслення з тексту кнопки "Назад" */
}

.back-button:hover {
    background-color: #F0E68C; /* Темніший зелений колір фону при наведенні */
    color: #fff; /* Білий колір тексту кнопки "Назад" при наведенні */
}
